<!-- flights/templates/flights/logout.html -->
<!-- Author: Kevin Tan (ktan03@bu.edu)
Description: Logout webpage.
-->

{% extends 'flights/base.html' %}
{% block content %}
<!-- 
    Logout Confirmation Template
    This template confirms that the user has successfully logged out.
    Provides a link for the user to log in again.
-->

<!-- Display a heading to confirm the user has logged out -->
<h2>You have been logged out</h2>

<!-- Button linking to the login page for the user to log in again -->
<a href="{% url 'login' %}" class="button">Log in again</a>
{% endblock %}

